<div class="header-container">
  <div class="button-container">
    <a
      mat-raised-button
      class="mat-raised-button"
      color="primary"
      routerLink="/home"
    >
      Home
    </a>
    <a
      mat-raised-button
      class="mat-raised-button"
      color="primary"
      routerLink="/game"
    >
      Play a game
    </a>

    <a
      mat-raised-button
      class="mat-raised-button"
      color="primary"
      routerLink="/chat"
    >
      Chat
    </a>

    <a
      mat-raised-button
      class="mat-raised-button"
      color="primary"
      routerLink="/user-list"
    >
      User List
    </a>

    <a
      mat-raised-button
      class="mat-raised-button"
      color="primary"
      routerLink="/game-record"
    >
      Match History
    </a>

    <a
      mat-raised-button
      class="mat-raised-button"
      color="primary"
      routerLink="/profile"
    >
      Profile
    </a>
  </div>
  <div class="right-button">
    <a mat-raised-button class="right-button" color="warn" (click)="logout()">
      Logout
    </a>
  </div>
</div>
