<h2>User Details</h2>
<div class="user-details-container">
  <div class="user-details-column">
    <div class="avatar-container">
      <img [src]="user.avatar" alt="User Avatar" class="avatar" />
      @if (!readOnlyMode) {
      <app-avatar-upload></app-avatar-upload>
      }
    </div>
  </div>

  <div class="user-details-column">
    <h3>Intra Name</h3>
    <mat-form-field style="padding-bottom: 25px">
      <input
        matInput
        placeholder="Intra Name"
        [value]="user.intraName"
        readonly="true"
      />
    </mat-form-field>

    <h3>Display Name</h3>
    <form [formGroup]="userNameForm" (ngSubmit)="submitUserName()">
      <mat-form-field style="margin-right: 10px">
        <input
          matInput
          type="text"
          formControlName="userName"
          placeholder="Display Name"
          [value]="user.userName"
          [readonly]="readOnlyMode"
        />
        @if (userNameForm.get('userName')?.hasError('notUnique')) {
        <mat-error> This display name is not unique. </mat-error>
        }
      </mat-form-field>
      @if (!readOnlyMode) {
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="userNameForm.invalid"
      >
        Submit
      </button>
      }
    </form>
  </div>

  <div class="user-details-column">
    <h3>Status</h3>
    <app-chips
      [user]="user"
      (statusSelected)="updateStatus($event)"
      [readOnlyMode]="readOnlyMode"
    ></app-chips>

    @if (!readOnlyMode) {
    <h3 style="padding-top: 35px">2FA</h3>
    @if (!user.isTwoFactorAuthEnabled) {
    <a mat-raised-button color="primary" routerLink="./two-fa-enable">
      Enable
    </a>
    } @else {
    <a mat-raised-button color="warn" (click)="disableTwoFa()"> Disable </a>
    } }
  </div>
</div>
